    <head>    
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    
        <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body class="grey darken-4 odyssey">
        <nav class="nav-extended darken-4 odyssey">
                <div class="nav-wrapper black center-on-small-only">
                <a href="inicio.html" class="brand-logo">Stewie</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"> 
                    <i class="material-icons">menu</i></a>           
                    <ul role=”menubar” class="right hide-on-med-and-down">
                        <li *ngIf="user"><a href="../../../html/STWjuegos.html">Juegos</a></li>
                        <li *ngIf="user"><a href="../../../html/destacados.html">Destacados</a></li>
                        <li *ngIf="user"><a href="noticias.html">Noticias</a></li>
                        <li *ngIf="user"><a href="../../../html/gameplays.html">Gameplays</a></li>
                        <li *ngIf="user"><a href="../../../html/about_us.html">About us</a></li>
                        <li *ngIf="user"><a href="/api/auth/signout">Cerrar sesión</a></li>
                        <li *ngIf="!user"><a [routerLink]="['/authentication/signup']" tabindex="-1">Registrarse</a></li>
                        <li *ngIf="!user"><a [routerLink]="['/authentication/signin']" tabindex="-1">Iniciar sesión</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                    <li role=”menuitem” *ngIf="!user"><a href="STWjuegos.html" tabindex="-1">Inicio</a></li>
                    <li role=”menuitem”><a href="destacados.html" tabindex="-1">Destacados</a></li>
                    <li role=”menuitem”><a href="noticias.html" tabindex="-1">Noticias</a></li>
                    <li role=”menuitem”><a href="gameplays.html" tabindex="-1">Gameplays</a></li>
                    <li role=”menuitem”><a href="about_us.html" tabindex="-1">About us</a></li>
                    <li role=”menuitem” *ngIf="!user"><a [routerLink]="['/authentication/signup']" tabindex="-1">Signup</a></li>
                    </ul>
                </div>
            </nav>

        <div *ngIf="user">
            <h1>Bienvenido {{user.firstName}}</h1>
        </div>
    </body>